<h1 class="page-header">Home</h1>
<div class="bs-callout bs-callout-info" id="callout-alerts-no-default">
    <h4>Built with:</h4>
    <ul>
        <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
        <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
        <li><a href='https://github.com/angular/universal'>Angular Universal</a> with <a href="https://github.com/aspnet/JavaScriptServices/">JavaScriptServices</a></li>
        <li><a href='https://developers.google.com/web/progressive-web-apps/'>Progressive Web Apps</a></li>
        <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
        <li><a href='http://gruntjs.com/'>Grunt</a> for generating the service worker</li>
        <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling (planning to replace it by Angular material 2)</li>
    </ul>
</div>

<div class="bs-callout bs-callout-warning" id="callout-alerts-no-default">
    <h4>If you want to know how I put everything together have a look to my <a href="http://manuelreina.github.io/angular-universal-asp-net-core-pwa/">blog post</a></h4>
</div>

<div class="bs-callout bs-callout-warning" id="callout-alerts-no-default">
    <h4>
        Have a look to my
        <a href="https://github.com/manuelreina/angular2-aspnet5-crud">
            GitHub Repo
        </a>
    </h4>
</div>



