<h1 class="page-header">New</h1>
<form #builtWithForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ngControl="name"
               id="name" class="form-control"
               [value]="builtWith.name"
               (input)="builtWith.name=$event.target.value"
               placeholder="Name"
               required #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>

    </div>
    <div class="form-group">
        <label for="builtWithPending"> Pending</label>
        <input type="checkbox" id="builtWithPending" [(checked)]="builtWith.pending"
               aria-label="Pending" />
    </div>
    <div class="form-group">
        <button (click)="addBuiltWith()" class="btn btn-primary" [disabled]="!builtWithForm.form.valid" type="button">
            Add
        </button>
        <input type="button" [routerLink]="['/BuiltWithList']" class="btn btn-default" value="Cancel" />
    </div>
</form>
